<button (click)="onClickNormal()">Test Click Single</button>

<br><br>

<button (dblclick)="onClickDouble()"
        (mouseover)="onMouseOver()"
        (mouseout)="onMouseOut()"
        [style.color]="colorH1">Test Double Click</button>

<br><br>

<span (mouseover)="onMouseOver()"
      (mouseout)="onMouseOut()"
      [style.color]="colorH1">Master UNG</span>

<br><br>

<a href="http://androidthai.in.th"
   [style.color]="colorH1"
   (mouseover)="onMouseOver()"
   (mouseout)="onMouseOut()">androidthai.in.th</a>
